
body{
     height: 100vh;
     width: 100%;
     
}

header{
    /*position: fixed;
     top: 0;
     left: 0;
     margin: 0;
     padding: 25px 13%;
     display: flex;*/
   background: url(../img/NeonDown.jpg) no-repeat;
     
}
/*.background {
     background-image: url(../img/NeonDown.jpg) no-repeat;
     background-position: center;
     background-size: cover;
     height: 100vh;
     width: 100%;
}*/

.container {
     position: absolute;
     left: 50%;
     top: 50%;
     color: white;
     transform: translate(-50%,-50%);
     width: 75%;
     height: 550px;
     margin-top: 20px;
    /* background-color: blue;
     border: 1px red solid;*/
     border-radius: 20px;
     background: url(../img/NeonDown.jpg) no-repeat;
     background-position: center;
     background-size: cover;
    overflow: hidden;
}
.container .item{
     position: absolute;
     top: 0;
     left: 0;
     width: 58%;
     height: 100%;
     background-color: transparent;
     color: white;
     
     display: flex;
     justify-content: space-between;
     flex-direction: column;
    
}
.item .logo {
     color: white;
     font-size: 30px;
}
.text-item h2{
     font-size: 40px;
     line-height: 1;
}
.text-item p{
     font-size: 16px;
     margin: 20px 0;
}
.container .login-section {
     position: absolute;
     top: 0;
     right: 0;
     width: calc(100% - 58%);
     height: 100%;
     color: white;
   
}
.remember-password a{
     color: white;
     text-decoration: none;
}
.remember-password a:hover{
     text-decoration: underline;
}
.login-section .form-box{
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
     backdrop-filter: blur(10px);
}

.login-section .form-box.register{
     transform: translateX(430px);
     transition: transform 0.6s ease;
     transition-delay: 0s;
 
 }
 .login-section.active .form-box.register{
     transform: translateX(0px);
     transition-delay: 0.7s;
 }
 
 .login-section .form-box.login{
     transform: translateX(0px);
     transition: transform 0.6s ease;
     transition-delay: 0.7s;
 }
 .login-section.active .form-box.login{
     transform: translateX(430px);
     transition-delay: 0s;
     
 }
/*
.login-section.login .form-box.login{
     transform: translateX(0px);
     transition-delay: 0s;
}
.login-section.login .form-box.register{
     transform: translateX(430px);
     transition-delay: 0.2s;
}*/


.login-section .form-box h2{
     text-align: center;
     font-size: 25px;
    
}
.form-box .input-box{
     width: 340px;
     height: 50px;
     border-bottom: 2px solid white;
     margin: 30px 0;
     position: relative;
}
.input-box input {
     width: 100%;
     height: 100%;
     background: transparent;
     border: none;
     outline: none; 
     font-size: 16px;
     padding-right: 28px;
}
.input-box label{
     position: absolute;
     top: 50%;
     left: 0;
     transform: translateY(-50%);
     font-size: 16px;
     font-weight: 600px;
     pointer-events: none;
     transition: 0.5s ease;
}
.input-box .icon{
     position: absolute;
     top: 13px;
     right: 0;
     font-size: 19px;
}
.input-box input:focus~ label,
.input-box input:valid~ label {
     top: -5px;

}
.remember-password {
     font-size: 14px;
     font-weight: 500;
     margin: -15px 0 15px;
     display: flex;
     justify-content: space-between;
}
.remember-password label input{
   accent-color: white;
     margin-right: 3px;
}
.btn {
     background: white;
     width: 100%;
     height: 45px;
     outline: none;
     border:none;
     border-radius: 10px;
     cursor: pointer;
     background-color: #f72d7a;
     font-size: 16px;
     color: white;
     box-shadow: rgba(0,0,0,0.5);
     
}
.create-account {
     font-size: 10px;
     text-align: center;
     margin: 25px;
}
.create-account p{
    padding: 5px;
     font-size: 14px;
}
.create-account p a {
     color: white;
     font-weight: 400px;
     text-decoration: none;

}
.create-account p a:hover{
     text-decoration: underline;
}
